<%- include('../layouts/header.ejs') %>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Tin Tức</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin">Trang Chủ</a></li>
                            <li class="breadcrumb-item active">Tin Tức</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách tin tức</h4>
                    <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            	<div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th tabindex="0" aria-controls="basic-datatable"
                                                rowspan="1" colspan="1"
                                                >Hình Ảnh</th>
	                                            <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Tiêu Đề</th>
	                                            <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Thẻ
	                                            </th>
	                                            <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Đường Dẫn
	                                            </th>
                                                <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Danh Mục</th>
	                                            <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Cập Nhật
	                                            </th>
	                                            <th tabindex="0" aria-controls="basic-datatable" rowspan="1"
	                                                colspan="1"
	                                                >Xóa Tin Tức
	                                            </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% newsList.forEach(function(news) { %>
                                                <tr role="row" class="odd">
                                                    <td style="white-space: unset;"><img style="image-rendering: optimizeQuality;" src="<%= news.Avatar %>" width="100" height="100"></td>
    
                                                    <td style="white-space: unset;"><b><%= news.Title %></b></td>
    
                                                    <td><%= news.Tag %></td>
    
                                                    <td><%= news.Slug %></td>

                                                    <td><span class='badge badge-warning' style="font-size: 12px;"><%= news.category.Name %></span></td>
    
                                                    <td><a class="btn btn-primary" href="/admin/news/update/<%= news.Id %>/"><i class="bx bxs-edit"></i> CẬP NHẬT</a> </td>
    
                                                    <td><a class="btn btn-danger" href="/admin/news/delete/<%= news.Id %>/"><i class="bx bxs-trash-alt"></i> XÓA</a></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="basic-datatable_paginate">
                                    <ul class="pagination pagination-rounded">
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                       	    <li style="margin-right: 5px;" class="paginate_button page-item"><a href="/admin/news/?page=<%= i %>" class="page-link"><%= i %></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
</div>

<%- include('../layouts/footer.ejs') %>
