<%- include('../layouts/header.ejs') %>
<link rel="stylesheet" href="/public/website/css/news.min.css" />
<header class="page">
    <div class="container">
        <ul class="breadcrumbs d-flex flex-wrap align-content-center">
            <li class="list-item">
                <a class="link" href="/">Trang Chủ</a>
            </li>

            <li class="list-item">
                <a class="link" href="/tin-tuc/">Tin Tức</a>
            </li>
        </ul>
        <h1 class="page_title">Danh sách</h1>
    </div>
</header>
<!-- single room content start -->
<main class="news-section section">
    <div class="sticky-parent container d-lg-flex justify-content-between align-items-start" style="position: relative;">
        <div class="news">
            <!-- news list start -->
            <ul class="news_list">
                <% newsList.forEach(function(news) { %>
                    <li class="news_list-item">
                        <div class="item-wrapper d-sm-flex flex-lg-column flex-xl-row">
                            <div class="media">
                                <picture>
                                    <source data-srcset="<%= news.Avatar %>" srcset="<%= news.Avatar %>">
                                    <img class="lazy entered loaded" data-src="<%= news.Avatar %>" src="<%= news.Avatar %>" alt="media" data-ll-status="loaded">
                                </picture>
                                <span class="media_label"><%= news.category.Name %></span>
                            </div>
                            <div class="main d-sm-flex d-xl-block flex-column justify-content-between">
                                <a class="main_title h4" href="/tin-tuc/<%= news.Slug %>/" data-shave="true"><%= news.Title %></a>
                                <p class="main_preview">
                                    <%- news.Content %>
                                </p>
                                <div class="main_metadata">
                                    <span class="main_metadata-item d-inline-flex align-items-center">
                                        <i class="icon-calendar icon"></i>
                                        <span class="text">Ngày đăng: <%= news.created %></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <ul class="pagination d-flex align-items-center">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if(currentPage == i){ %>
                    <li class="pagination-page">
                        <a class="pagination-page_link d-flex align-items-center justify-content-center" href="/tin-tuc/?trang=<%= i %>" data-current="true"><%= i %></a>
                    </li>
                <% }else{ %>
                    <li class="pagination-page">
                        <a class="pagination-page_link d-flex align-items-center justify-content-center" href="/tin-tuc/?trang=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            <% } %>
            </ul>
            <!-- news list end -->
        </div>
        <!-- news aside start -->
        <div class="widgets" data-sticky="true" data-stop="90" style="position: static; left: auto; width: 350px;">
            <div class="widgets_item widgets_item--search">
                <form class="form d-flex" action="#" method="get" id="newsSearch" data-type="search">
                    <input class="field required" id="newsSearchQuery" type="text" placeholder="Tìm kiếm tin tức">
                    <button class="btn theme-element--accent" type="submit">
                        <i class="icon-search icon"></i>
                    </button>
                </form>
            </div>
            <div class="widgets_item widgets_item--categories">
                <h4 class="widgets_item-header">Chuyên Mục</h4>
                <ul class="list">
                    <% category.forEach(function(c) { %>
                        <li class="list-item d-flex align-items-center">
                            <a class="link" href="#"><%= c.Name %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="widgets_item widgets_item--recommended">
                <h4 class="widgets_item-header">Tin Tức Đề Xuất</h4>
                <ul class="list">
                    <% suggestNews.forEach(function(n) {%>
                        <li class="list-item d-flex align-items-center">
                            <div class="media">
                                <picture>
                                    <source data-srcset="<%= n.Avatar %>" srcset="<%= n.Avatar %>">
                                    <img style="width: 90px; height: 90px;" class="lazy entered loaded" data-src="<%= n.Avatar %>" src="<%= n.Avatar %>" alt="media" data-ll-status="loaded">
                                </picture>
                            </div>
                            <div class="main d-flex flex-column">
                                <a class="main_title h5" href="/tin-tuc/<%= n.Slug %>/"><%= n.Title %></a>
                                <span class="main_date"><i class="icon-calendar icon"></i> <%= n.created %></span>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="widgets_item widgets_item--tags">
                <!-- <h4 class="widgets_item-header">Thẻ</h4>
                <ul class="list d-flex flex-wrap">
                    <% tag.forEach(function(t) { %>
                        <li class="list-item">
                            <a class="link underlined underlined--accent" href="#"><%= t.toUpperCase() %>,</a>
                        </li>
                    <% }) %>
                </ul> -->
            </div>
        </div>
        <!-- news aside end -->
    </div>
</main>

<%- include('../layouts/footer.ejs') %>
