<%- include('../layouts/header.ejs') %>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Phòng Nghỉ</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/admin/">Trang Chủ</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/room/">Phòng Nghỉ</a></li>
                                <li class="breadcrumb-item active">Hình Ảnh Phòng Nghỉ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hình ảnh phòng: <%= room.Name %>
                        </h4>
                        <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">

                                            <form method="POST" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>Hình Ảnh 1</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image1"
                                                            id="customFile" onchange="loadFile(event,'gallery1')">
                                                        <label class="custom-file-label" for="customFile">Chọn
                                                            Ảnh</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Hình Ảnh 2</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image2"
                                                            id="customFile" onchange="loadFile(event,'gallery2')">
                                                        <label class="custom-file-label" for="customFile">Chọn
                                                            Ảnh</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Hình Ảnh 3</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image3"
                                                            id="customFile" onchange="loadFile(event,'gallery3')">
                                                        <label class="custom-file-label" for="customFile">Chọn
                                                            Ảnh</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Hình Ảnh 4</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image4"
                                                            id="customFile" onchange="loadFile(event,'gallery4')">
                                                        <label class="custom-file-label" for="customFile">Chọn
                                                            Ảnh</label>
                                                    </div>
                                                </div>

                                                <% if(imageCount >= 1){ %>
                                                    <div class="row">
                                                        <% image.forEach(function(item, key) { %>
                                                            <div class="col-md-3">
                                                                <div class="gallery<%= key + 1 %> image">
                                                                    <img height="250px" src="<%= item.Image %>">
                                                                </div>
                                                            </div>
                                                        <% }) %>
                                                    </div>
                                                <% }else{ %>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="gallery1 image">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="gallery2 image">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="gallery3 image">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="gallery4 image">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>

                                                <a href="/admin/room/"
                                                    class="btn btn-secondary waves-effect waves-light">Quay Lại</a>
                                                <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light">Cập Nhật
                                                    Hình Ảnh</button>
                                            </form>
                                        </div>
                                        <!-- end card-body-->
                                    </div>
                                    <!-- end card -->

                                </div>
                            </div>

                        </div>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .image img{
            width: 100%;
            margin-bottom: 40px;
            margin-top: 30px;
            border-radius: 5px;
        }
    </style>
    
    <script>
        var loadFile = function(event,cls) {
            $('.'+cls).empty()
            $('.'+cls).append('<img height="250px" id="'+cls+'">')
            var output = document.getElementById(cls);
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
    <%- include('../layouts/footer.ejs') %>