<%- include('../layouts/header.ejs') %>
<header class="page">
    <div class="container">
        <ul class="breadcrumbs d-flex flex-wrap align-content-center">
            <li class="list-item">
                <a class="link" href="/">Trang Chủ</a>
            </li>

            <li class="list-item">
                <a class="link" href="/rooms/">Khách Sạn</a>
            </li>

            <li class="list-item">
                <a class="link" href="#"><%= room.Name %></a>
            </li>
        </ul>
        <h1 class="page_title"><%= room.Name %></h1>
    </div>
</header>
<main>
    <!-- room section start -->
    <div class="room section">
        <div class="container">
            <div class="room_main d-lg-flex flex-wrap align-items-start">
                <% if(image.length >= 1){ %>
                    <div class="room_main-slider col-12 d-lg-flex">
                        <div class="room_main-slider_view col-lg-8 swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events">
                            <div class="swiper-wrapper" style="transition-duration: 1500ms;">
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 764px; opacity: 1; transform: translate3d(-764px, 0px, 0px); transition-duration: 1500ms;">
                                    <picture>
                                        <source data-srcset="<%= image[0].dataValues.Image %>" srcset="<%= image[0].dataValues.Image %>">
                                        <img class="lazy entered loaded" data-src="<%= image[0].dataValues.Image %>" src="<%= image[0].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                </div>

                                <% if(image.length >= 2){ %>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="1" style="width: 764px; opacity: 1; transform: translate3d(-1528px, 0px, 0px); transition-duration: 1500ms;">
                                    <picture>
                                        <source data-srcset="<%= image[1].dataValues.Image %>" srcset="<%= image[1].dataValues.Image %>">
                                        <img class="lazy entered loaded" data-src="<%= image[1].dataValues.Image %>" src="<%= image[1].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                </div>
                                <% } %>

                                <% if(image.length >= 3){ %>
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 764px; opacity: 0; transform: translate3d(-2292px, 0px, 0px); transition-duration: 1500ms;">
                                    <picture>
                                        <source data-srcset="<%= image[2].dataValues.Image %>" srcset="<%= image[2].dataValues.Image %>">
                                        <img class="lazy entered loaded" data-src="<%= image[2].dataValues.Image %>" src="<%= image[2].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                </div>
                                <% } %>

                                <% if(image.length >= 4){ %>
                                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 764px; opacity: 0; transform: translate3d(-2292px, 0px, 0px); transition-duration: 1500ms;">
                                        <picture>
                                            <source data-srcset="<%= image[3].dataValues.Image %>" srcset="<%= image[3].dataValues.Image %>">
                                            <img class="lazy entered loaded" data-src="<%= image[3].dataValues.Image %>" src="<%= image[3].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                        </picture>
                                    </div>
                                <% } %>
                            </div>
                            <div class="swiper-controls d-flex align-items-center justify-content-between">
                                <a class="swiper-button-prev d-inline-flex align-items-center justify-content-center" href="#">
                                    <i class="icon-arrow_left icon"></i>
                                </a>
                                <a class="swiper-button-next d-inline-flex align-items-center justify-content-center" href="#">
                                    <i class="icon-arrow_right icon"></i>
                                </a>
                            </div>
                        </div>
                        <div class="room_main-slider_thumbs swiper-initialized swiper-pointer-events swiper-vertical">
                            <div class="swiper-wrapper" style="transform: translate3d(0px, -855px, 0px); transition-duration: 1500ms;">
                                
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="height: 255px; margin-bottom: 30px;">
                                    <picture>
                                        <source data-srcset="<%= image[0].dataValues.Image %>" srcset="<%= image[0].dataValues.Image %>">
                                        <img class="lazy entered loaded" data-src="<%= image[0].dataValues.Image %>" src="<%= image[0].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                </div>
                                
                                <% if(image.length >= 2){ %>
                                    <div class="swiper-slide swiper-slide-visible swiper-slide-next" data-swiper-slide-index="2" style="height: 255px; margin-bottom: 30px;">
                                        <picture>
                                            <source data-srcset="<%= image[1].dataValues.Image %>" srcset="<%= image[1].dataValues.Image %>">
                                            <img class="lazy entered loaded" data-src="<%= image[1].dataValues.Image %>" src="<%= image[1].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                        </picture>
                                    </div>
                                <% } %>

                                <% if(image.length >= 3){ %>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-next" data-swiper-slide-index="2" style="height: 255px; margin-bottom: 30px;">
                                    <picture>
                                        <source data-srcset="<%= image[2].dataValues.Image %>" srcset="<%= image[2].dataValues.Image %>">
                                        <img class="lazy entered loaded" data-src="<%= image[2].dataValues.Image %>" src="<%= image[2].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                </div>
                                <% } %>

                                <% if(image.length >= 4){ %>
                                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="1" style="height: 255px; margin-bottom: 30px;">
                                        <picture>
                                            <source data-srcset="<%= image[3].dataValues.Image %>" srcset="<%= image[3].dataValues.Image %>">
                                            <img class="lazy entered loaded" data-src="<%= image[3].dataValues.Image %>" src="<%= image[3].dataValues.Image %>" alt="media" data-ll-status="loaded">
                                        </picture>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="room_main-info col-lg-8">
                    <div class="amenities d-flex flex-wrap align-items-center">
                        <span class="amenities_item d-inline-flex align-items-center">
                            <i class="icon-user icon"></i>
                            <%= room.People %> người 
                        </span>
                        <span class="amenities_item d-inline-flex align-items-center">
                            <% if(facility[0].dataValues.Bed == 1){ %>
                                <span class="main_amenities-item d-inline-flex align-items-center">
                                    <i class="icon-twin_bed icon"></i>
                                    1 giường lớn
                                </span>
                            <% }else if(facility[0].dataValues.Bed == 2){ %>
                                <span class="main_amenities-item d-inline-flex align-items-center">
                                    <i class="icon-bunk_bed icon"></i>
                                    2 giường nhỏ
                                </span>
                            <% }else if(facility[0].dataValues.Bed == 3){ %>
                                <span class="main_amenities-item d-inline-flex align-items-center">
                                    <i class="icon-twin_bed icon"></i>
                                    1 giường lớn
                                </span>
                                <span class="main_amenities-item d-inline-flex align-items-center" style="margin-left: 20px;">
                                    <i class="icon-bunk_bed icon"></i>
                                    2 giường nhỏ
                                </span>
                            <% }else{ %>
                                <span class="main_amenities-item d-inline-flex align-items-center">
                                    <i class="icon-twin_bed icon"></i>
                                    1 giường lớn
                                </span>
                            <% } %>
                        </span>
                        <span class="amenities_item d-inline-flex align-items-center">
                            <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.2786 7.84667C26.3436 7.78509 26.3956 7.71106 26.4314 7.62899C26.4671 7.54691 26.4861 7.45848 26.487 7.36895C26.4879 7.27942 26.4708 7.19062 26.4367 7.10783C26.4026 7.02505 26.3522 6.94997 26.2884 6.88707C23.5465 4.18306 19.8503 2.66711 15.9994 2.66711C12.1484 2.66711 8.45223 4.18306 5.7103 6.88707C5.64658 6.94997 5.59616 7.02505 5.56205 7.10783C5.52795 7.19062 5.51084 7.27942 5.51175 7.36895C5.51267 7.45848 5.53158 7.54691 5.56738 7.62899C5.60317 7.71106 5.65511 7.78509 5.7201 7.84667L8.6289 10.6032L15.541 17.1514C15.6649 17.2685 15.8289 17.3337 15.9994 17.3337C16.1698 17.3337 16.3338 17.2685 16.4577 17.1514L26.2786 7.84667ZM10.0723 10.1333C11.7398 8.75474 13.8358 8.00054 15.9994 8.00054C18.163 8.00054 20.2589 8.75474 21.9264 10.1333L19.9357 12.0195C18.7895 11.1932 17.4123 10.7485 15.9994 10.7485C14.5864 10.7485 13.2092 11.1932 12.063 12.0195L10.0723 10.1333ZM15.9994 4.00001C19.2628 3.99296 22.414 5.19111 24.8483 7.36461L22.8923 9.21794C20.973 7.57171 18.5279 6.66674 15.9994 6.66674C13.4708 6.66674 11.0257 7.57171 9.10643 9.21794L7.15043 7.36461C9.58478 5.19111 12.7359 3.99296 15.9994 4.00001ZM13.0255 12.931C13.9048 12.3403 14.9401 12.0248 15.9994 12.0248C17.0587 12.0248 18.094 12.3403 18.9732 12.931L15.9994 15.7487L13.0255 12.931Z" fill="currentColor"></path>
                                <path d="M8.66634 22.6667C8.84315 22.6667 9.01272 22.5965 9.13774 22.4714C9.26277 22.3464 9.33301 22.1769 9.33301 22C9.33301 21.8232 9.26277 21.6537 9.13774 21.5286C9.01272 21.4036 8.84315 21.3334 8.66634 21.3334H5.99967C5.82286 21.3334 5.65329 21.4036 5.52827 21.5286C5.40325 21.6537 5.33301 21.8232 5.33301 22V27.3334C5.33301 27.5102 5.40325 27.6798 5.52827 27.8048C5.65329 27.9298 5.82286 28 5.99967 28C6.17649 28 6.34605 27.9298 6.47108 27.8048C6.5961 27.6798 6.66634 27.5102 6.66634 27.3334V25.3334H8.66634C8.84315 25.3334 9.01272 25.2631 9.13774 25.1381C9.26277 25.0131 9.33301 24.8435 9.33301 24.6667C9.33301 24.4899 9.26277 24.3203 9.13774 24.1953C9.01272 24.0703 8.84315 24 8.66634 24H6.66634V22.6667H8.66634Z" fill="currentColor"></path>
                                <path d="M15.9993 23.3334C15.9988 22.8031 15.7879 22.2947 15.4129 21.9198C15.038 21.5449 14.5296 21.334 13.9993 21.3334H11.3327C11.1559 21.3334 10.9863 21.4036 10.8613 21.5286C10.7363 21.6537 10.666 21.8232 10.666 22V27.3334C10.666 27.5102 10.7363 27.6798 10.8613 27.8048C10.9863 27.9298 11.1559 28 11.3327 28C11.5095 28 11.6791 27.9298 11.8041 27.8048C11.9291 27.6798 11.9993 27.5102 11.9993 27.3334V25.3334H12.9993L14.7993 27.7334C14.8519 27.8034 14.9177 27.8624 14.993 27.907C15.0684 27.9516 15.1517 27.981 15.2384 27.9933C15.3251 28.0057 15.4133 28.0009 15.4981 27.9792C15.5829 27.9575 15.6626 27.9192 15.7327 27.8667C15.8027 27.8142 15.8617 27.7484 15.9063 27.673C15.9509 27.5977 15.9803 27.5143 15.9926 27.4277C16.005 27.341 16.0002 27.2527 15.9785 27.1679C15.9568 27.0831 15.9185 27.0034 15.866 26.9334L14.5912 25.2334C14.9978 25.1081 15.3537 24.8562 15.607 24.5144C15.8603 24.1726 15.9978 23.7588 15.9993 23.3334ZM13.9993 24H11.9993V22.6667H13.9993C14.1762 22.6667 14.3457 22.7369 14.4708 22.862C14.5958 22.987 14.666 23.1566 14.666 23.3334C14.666 23.5102 14.5958 23.6798 14.4708 23.8048C14.3457 23.9298 14.1762 24 13.9993 24Z" fill="currentColor"></path>
                                <path d="M20.6663 22.6667C20.8432 22.6667 21.0127 22.5965 21.1377 22.4714C21.2628 22.3464 21.333 22.1769 21.333 22C21.333 21.8232 21.2628 21.6537 21.1377 21.5286C21.0127 21.4036 20.8432 21.3334 20.6663 21.3334H17.9997C17.8229 21.3334 17.6533 21.4036 17.5283 21.5286C17.4032 21.6537 17.333 21.8232 17.333 22V27.3334C17.333 27.5102 17.4032 27.6798 17.5283 27.8048C17.6533 27.9298 17.8229 28 17.9997 28H20.6663C20.8432 28 21.0127 27.9298 21.1377 27.8048C21.2628 27.6798 21.333 27.5102 21.333 27.3334C21.333 27.1566 21.2628 26.987 21.1377 26.862C21.0127 26.7369 20.8432 26.6667 20.6663 26.6667H18.6663V25.3334H20.6663C20.8432 25.3334 21.0127 25.2631 21.1377 25.1381C21.2628 25.0131 21.333 24.8435 21.333 24.6667C21.333 24.4899 21.2628 24.3203 21.1377 24.1953C21.0127 24.0703 20.8432 24 20.6663 24H18.6663V22.6667H20.6663Z" fill="currentColor"></path>
                                <path d="M25.9993 25.3334C26.1762 25.3334 26.3457 25.2631 26.4708 25.1381C26.5958 25.0131 26.666 24.8435 26.666 24.6667C26.666 24.4899 26.5958 24.3203 26.4708 24.1953C26.3457 24.0703 26.1762 24 25.9993 24H23.9993V22.6667H25.9993C26.1762 22.6667 26.3457 22.5965 26.4708 22.4714C26.5958 22.3464 26.666 22.1769 26.666 22C26.666 21.8232 26.5958 21.6537 26.4708 21.5286C26.3457 21.4036 26.1762 21.3334 25.9993 21.3334H23.3327C23.1559 21.3334 22.9863 21.4036 22.8613 21.5286C22.7363 21.6537 22.666 21.8232 22.666 22V27.3334C22.666 27.5102 22.7363 27.6798 22.8613 27.8048C22.9863 27.9298 23.1559 28 23.3327 28H25.9993C26.1762 28 26.3457 27.9298 26.4708 27.8048C26.5958 27.6798 26.666 27.5102 26.666 27.3334C26.666 27.1566 26.5958 26.987 26.4708 26.862C26.3457 26.7369 26.1762 26.6667 25.9993 26.6667H23.9993V25.3334H25.9993Z" fill="currentColor"></path>
                            </svg>
                            <% if(facility[0].dataValues.Wifi == 1){ %>
                                Wifi Miễn Phí
                            <% }else{ %>
                                Không Wifi
                            <% } %>
                        </span>
                    </div>
                    <div class="description">
                        <%- room.Description %> 
                    </div>
                    <section class="facilities">
                        <h4 class="facilities_header">Tiện ích của phòng</h4>
                        <div class="facilities_list d-sm-flex flex-wrap">
                            <div class="facilities_list-block">
                                <span class="facilities_list-block_item d-flex align-items-center">
                                    <span class="icon">
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.9997 14.7341V7.33329C27.9997 7.15648 27.9294 6.98691 27.8044 6.86189C27.6794 6.73686 27.5098 6.66663 27.333 6.66663H4.66634C4.48953 6.66663 4.31996 6.73686 4.19494 6.86189C4.06991 6.98691 3.99967 7.15648 3.99967 7.33329V14.7341C3.24737 14.8887 2.57136 15.2979 2.0856 15.8928C1.59985 16.4877 1.33405 17.2319 1.33301 18V26C1.33301 26.1768 1.40325 26.3463 1.52827 26.4714C1.65329 26.5964 1.82286 26.6666 1.99967 26.6666H4.66634C4.84315 26.6666 5.01272 26.5964 5.13775 26.4714C5.26277 26.3463 5.33301 26.1768 5.33301 26V22.6666H26.6663V26C26.6663 26.1768 26.7366 26.3463 26.8616 26.4714C26.9866 26.5964 27.1562 26.6666 27.333 26.6666H29.9997C30.1765 26.6666 30.3461 26.5964 30.4711 26.4714C30.5961 26.3463 30.6663 26.1768 30.6663 26V18C30.6654 17.2319 30.3996 16.4877 29.9138 15.8928C29.4281 15.2979 28.752 14.8886 27.9997 14.7341ZM5.33301 7.99996H26.6663V14.6666H23.9997V11.3333C23.9997 11.1565 23.9294 10.9869 23.8044 10.8619C23.6794 10.7369 23.5098 10.6666 23.333 10.6666H17.9997C17.8229 10.6666 17.6533 10.7369 17.5283 10.8619C17.4032 10.9869 17.333 11.1565 17.333 11.3333V14.6666H14.6663V11.3333C14.6663 11.1565 14.5961 10.9869 14.4711 10.8619C14.3461 10.7369 14.1765 10.6666 13.9997 10.6666H8.66634C8.48953 10.6666 8.31996 10.7369 8.19494 10.8619C8.06991 10.9869 7.99967 11.1565 7.99967 11.3333V14.6666H5.33301V7.99996ZM22.6663 14.6666H18.6663V12H22.6663V14.6666ZM13.333 14.6666H9.33301V12H13.333V14.6666ZM29.333 25.3333H27.9997V22C27.9997 21.8231 27.9294 21.6536 27.8044 21.5286C27.6794 21.4035 27.5098 21.3333 27.333 21.3333H4.66634C4.48953 21.3333 4.31996 21.4035 4.19494 21.5286C4.06991 21.6536 3.99967 21.8231 3.99967 22V25.3333H2.66634V18C2.66692 17.4697 2.87782 16.9613 3.25277 16.5864C3.62772 16.2114 4.13609 16.0005 4.66634 16H27.333C27.8633 16.0005 28.3716 16.2114 28.7466 16.5864C29.1215 16.9613 29.3324 17.4697 29.333 18V25.3333Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <% if(facility[0].dataValues.Bed == 1){ %>
                                        1 giường lớn
                                    <% }else if(facility[0].dataValues.Bed == 2){ %>
                                        2 giường nhỏ
                                    <% }else if(facility[0].dataValues.Bed == 3){ %>
                                        3 giường
                                    <% }else{ %>
                                        1 giường lớn
                                    <% } %>
                                </span>
                                <% if(facility[0].dataValues.Washer == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M25.9997 2.66663H5.99967C5.82286 2.66663 5.65329 2.73686 5.52827 2.86189C5.40325 2.98691 5.33301 3.15648 5.33301 3.33329V28.6666C5.33301 28.8434 5.40325 29.013 5.52827 29.138C5.65329 29.2631 5.82286 29.3333 5.99967 29.3333H25.9997C26.1765 29.3333 26.3461 29.2631 26.4711 29.138C26.5961 29.013 26.6663 28.8434 26.6663 28.6666V3.33329C26.6663 3.15648 26.5961 2.98691 26.4711 2.86189C26.3461 2.73686 26.1765 2.66663 25.9997 2.66663ZM25.333 3.99996V7.99996H6.66634V3.99996H25.333ZM6.66634 28V9.33329H25.333V28H6.66634Z" fill="currentColor"></path>
                                                <path d="M8.66667 6.66658H10C10.1768 6.66658 10.3464 6.59635 10.4714 6.47132C10.5964 6.3463 10.6667 6.17673 10.6667 5.99992C10.6667 5.82311 10.5964 5.65354 10.4714 5.52851C10.3464 5.40349 10.1768 5.33325 10 5.33325H8.66667C8.48986 5.33325 8.32029 5.40349 8.19526 5.52851C8.07024 5.65354 8 5.82311 8 5.99992C8 6.17673 8.07024 6.3463 8.19526 6.47132C8.32029 6.59635 8.48986 6.66658 8.66667 6.66658Z" fill="currentColor"></path>
                                                <path d="M12.6667 6.66658H14C14.1768 6.66658 14.3464 6.59635 14.4714 6.47132C14.5964 6.3463 14.6667 6.17673 14.6667 5.99992C14.6667 5.82311 14.5964 5.65354 14.4714 5.52851C14.3464 5.40349 14.1768 5.33325 14 5.33325H12.6667C12.4899 5.33325 12.3203 5.40349 12.1953 5.52851C12.0702 5.65354 12 5.82311 12 5.99992C12 6.17673 12.0702 6.3463 12.1953 6.47132C12.3203 6.59635 12.4899 6.66658 12.6667 6.66658Z" fill="currentColor"></path>
                                                <path d="M15.9997 12C14.2388 12.0024 12.5502 12.7008 11.3021 13.943C10.054 15.1851 9.34746 16.8703 9.33661 18.6312C9.33621 18.6389 9.33441 18.646 9.33434 18.6537L9.33301 18.6667C9.33201 20.4321 10.0315 22.1258 11.2779 23.3761C12.5244 24.6263 14.2159 25.331 15.9813 25.3354C17.7468 25.3398 19.4418 24.6436 20.6945 23.3996C21.9472 22.1556 22.6551 20.4654 22.6629 18.7C22.6633 18.6926 22.6649 18.6856 22.6651 18.6781L22.6663 18.6667C22.6643 16.8992 21.9612 15.2047 20.7114 13.9549C19.4616 12.7051 17.7672 12.0021 15.9997 12ZM15.9997 13.3333C17.3298 13.3374 18.6101 13.8393 19.5886 14.7404C20.567 15.6414 21.1725 16.8761 21.2859 18.2014C19.1854 18.8842 17.7213 18.4739 16.1859 18.0267C14.6181 17.5673 13.0033 17.0973 10.7631 17.7107C10.9867 16.484 11.6329 15.3744 12.5896 14.5748C13.5462 13.7751 14.7528 13.3358 15.9997 13.3333ZM15.9997 24C14.6692 23.996 13.3885 23.4938 12.41 22.5924C11.4314 21.691 10.826 20.4558 10.713 19.1301C12.8093 18.4465 14.2755 18.8568 15.812 19.3067C16.8826 19.6719 18.0014 19.8766 19.132 19.9141C19.8438 19.909 20.5517 19.8084 21.2367 19.615C21.0148 20.8432 20.3691 21.9546 19.4122 22.7558C18.4553 23.5571 17.2477 23.9973 15.9997 24Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Máy giặt
                                    </span>
                                <% } %>
                                
                                <% if(facility[0].dataValues.Wifi == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M26.2786 7.84667C26.3436 7.78509 26.3956 7.71106 26.4314 7.62899C26.4671 7.54691 26.4861 7.45848 26.487 7.36895C26.4879 7.27942 26.4708 7.19062 26.4367 7.10783C26.4026 7.02505 26.3522 6.94997 26.2884 6.88707C23.5465 4.18306 19.8503 2.66711 15.9994 2.66711C12.1484 2.66711 8.45223 4.18306 5.7103 6.88707C5.64658 6.94997 5.59616 7.02505 5.56205 7.10783C5.52795 7.19062 5.51084 7.27942 5.51175 7.36895C5.51267 7.45848 5.53158 7.54691 5.56738 7.62899C5.60317 7.71106 5.65511 7.78509 5.7201 7.84667L8.6289 10.6032L15.541 17.1514C15.6649 17.2685 15.8289 17.3337 15.9994 17.3337C16.1698 17.3337 16.3338 17.2685 16.4577 17.1514L26.2786 7.84667ZM10.0723 10.1333C11.7398 8.75474 13.8358 8.00054 15.9994 8.00054C18.163 8.00054 20.2589 8.75474 21.9264 10.1333L19.9357 12.0195C18.7895 11.1932 17.4123 10.7485 15.9994 10.7485C14.5864 10.7485 13.2092 11.1932 12.063 12.0195L10.0723 10.1333ZM15.9994 4.00001C19.2628 3.99296 22.414 5.19111 24.8483 7.36461L22.8923 9.21794C20.973 7.57171 18.5279 6.66674 15.9994 6.66674C13.4708 6.66674 11.0257 7.57171 9.10643 9.21794L7.15043 7.36461C9.58478 5.19111 12.7359 3.99296 15.9994 4.00001ZM13.0255 12.931C13.9048 12.3403 14.9401 12.0248 15.9994 12.0248C17.0587 12.0248 18.094 12.3403 18.9732 12.931L15.9994 15.7487L13.0255 12.931Z" fill="currentColor"></path>
                                                <path d="M8.66634 22.6667C8.84315 22.6667 9.01272 22.5965 9.13774 22.4714C9.26277 22.3464 9.33301 22.1769 9.33301 22C9.33301 21.8232 9.26277 21.6537 9.13774 21.5286C9.01272 21.4036 8.84315 21.3334 8.66634 21.3334H5.99967C5.82286 21.3334 5.65329 21.4036 5.52827 21.5286C5.40325 21.6537 5.33301 21.8232 5.33301 22V27.3334C5.33301 27.5102 5.40325 27.6798 5.52827 27.8048C5.65329 27.9298 5.82286 28 5.99967 28C6.17649 28 6.34605 27.9298 6.47108 27.8048C6.5961 27.6798 6.66634 27.5102 6.66634 27.3334V25.3334H8.66634C8.84315 25.3334 9.01272 25.2631 9.13774 25.1381C9.26277 25.0131 9.33301 24.8435 9.33301 24.6667C9.33301 24.4899 9.26277 24.3203 9.13774 24.1953C9.01272 24.0703 8.84315 24 8.66634 24H6.66634V22.6667H8.66634Z" fill="currentColor"></path>
                                                <path d="M15.9993 23.3334C15.9988 22.8031 15.7879 22.2947 15.4129 21.9198C15.038 21.5449 14.5296 21.334 13.9993 21.3334H11.3327C11.1559 21.3334 10.9863 21.4036 10.8613 21.5286C10.7363 21.6537 10.666 21.8232 10.666 22V27.3334C10.666 27.5102 10.7363 27.6798 10.8613 27.8048C10.9863 27.9298 11.1559 28 11.3327 28C11.5095 28 11.6791 27.9298 11.8041 27.8048C11.9291 27.6798 11.9993 27.5102 11.9993 27.3334V25.3334H12.9993L14.7993 27.7334C14.8519 27.8034 14.9177 27.8624 14.993 27.907C15.0684 27.9516 15.1517 27.981 15.2384 27.9933C15.3251 28.0057 15.4133 28.0009 15.4981 27.9792C15.5829 27.9575 15.6626 27.9192 15.7327 27.8667C15.8027 27.8142 15.8617 27.7484 15.9063 27.673C15.9509 27.5977 15.9803 27.5143 15.9926 27.4277C16.005 27.341 16.0002 27.2527 15.9785 27.1679C15.9568 27.0831 15.9185 27.0034 15.866 26.9334L14.5912 25.2334C14.9978 25.1081 15.3537 24.8562 15.607 24.5144C15.8603 24.1726 15.9978 23.7588 15.9993 23.3334ZM13.9993 24H11.9993V22.6667H13.9993C14.1762 22.6667 14.3457 22.7369 14.4708 22.862C14.5958 22.987 14.666 23.1566 14.666 23.3334C14.666 23.5102 14.5958 23.6798 14.4708 23.8048C14.3457 23.9298 14.1762 24 13.9993 24Z" fill="currentColor"></path>
                                                <path d="M20.6663 22.6667C20.8432 22.6667 21.0127 22.5965 21.1377 22.4714C21.2628 22.3464 21.333 22.1769 21.333 22C21.333 21.8232 21.2628 21.6537 21.1377 21.5286C21.0127 21.4036 20.8432 21.3334 20.6663 21.3334H17.9997C17.8229 21.3334 17.6533 21.4036 17.5283 21.5286C17.4032 21.6537 17.333 21.8232 17.333 22V27.3334C17.333 27.5102 17.4032 27.6798 17.5283 27.8048C17.6533 27.9298 17.8229 28 17.9997 28H20.6663C20.8432 28 21.0127 27.9298 21.1377 27.8048C21.2628 27.6798 21.333 27.5102 21.333 27.3334C21.333 27.1566 21.2628 26.987 21.1377 26.862C21.0127 26.7369 20.8432 26.6667 20.6663 26.6667H18.6663V25.3334H20.6663C20.8432 25.3334 21.0127 25.2631 21.1377 25.1381C21.2628 25.0131 21.333 24.8435 21.333 24.6667C21.333 24.4899 21.2628 24.3203 21.1377 24.1953C21.0127 24.0703 20.8432 24 20.6663 24H18.6663V22.6667H20.6663Z" fill="currentColor"></path>
                                                <path d="M25.9993 25.3334C26.1762 25.3334 26.3457 25.2631 26.4708 25.1381C26.5958 25.0131 26.666 24.8435 26.666 24.6667C26.666 24.4899 26.5958 24.3203 26.4708 24.1953C26.3457 24.0703 26.1762 24 25.9993 24H23.9993V22.6667H25.9993C26.1762 22.6667 26.3457 22.5965 26.4708 22.4714C26.5958 22.3464 26.666 22.1769 26.666 22C26.666 21.8232 26.5958 21.6537 26.4708 21.5286C26.3457 21.4036 26.1762 21.3334 25.9993 21.3334H23.3327C23.1559 21.3334 22.9863 21.4036 22.8613 21.5286C22.7363 21.6537 22.666 21.8232 22.666 22V27.3334C22.666 27.5102 22.7363 27.6798 22.8613 27.8048C22.9863 27.9298 23.1559 28 23.3327 28H25.9993C26.1762 28 26.3457 27.9298 26.4708 27.8048C26.5958 27.6798 26.666 27.5102 26.666 27.3334C26.666 27.1566 26.5958 26.987 26.4708 26.862C26.3457 26.7369 26.1762 26.6667 25.9993 26.6667H23.9993V25.3334H25.9993Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Mạng WiFi
                                    </span>
                                <% } %>
                                
                            </div>
                            <div class="facilities_list-block">
                                <% if(facility[0].dataValues.Gym == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16.0003 2.66663C13.3632 2.66663 10.7854 3.44861 8.59273 4.9137C6.40007 6.37878 4.69111 8.46116 3.68194 10.8975C2.67277 13.3339 2.40872 16.0148 2.92319 18.6012C3.43766 21.1876 4.70754 23.5634 6.57224 25.4281C8.43694 27.2928 10.8127 28.5626 13.3991 29.0771C15.9855 29.5916 18.6664 29.3275 21.1028 28.3184C23.5391 27.3092 25.6215 25.6002 27.0866 23.4076C28.5517 21.2149 29.3337 18.637 29.3337 16C29.3297 12.4649 27.9237 9.07585 25.4241 6.57622C22.9244 4.07658 19.5353 2.67056 16.0003 2.66663ZM16.0003 28C13.627 28 11.3069 27.2962 9.33349 25.9776C7.3601 24.659 5.82203 22.7849 4.91378 20.5922C4.00553 18.3994 3.76789 15.9866 4.23091 13.6589C4.69393 11.3311 5.83682 9.19291 7.51505 7.51468C9.19328 5.83645 11.3315 4.69356 13.6592 4.23054C15.987 3.76751 18.3998 4.00515 20.5925 4.9134C22.7852 5.82166 24.6594 7.35973 25.978 9.33312C27.2965 11.3065 28.0003 13.6266 28.0003 16C27.9966 19.1814 26.7312 22.2315 24.4815 24.4812C22.2319 26.7308 19.1818 27.9963 16.0003 28Z" fill="currentColor"></path>
                                                <path d="M23.3337 11.9999H22.667V11.3333C22.667 10.8028 22.4563 10.2941 22.0812 9.91904C21.7061 9.54397 21.1974 9.33325 20.667 9.33325C20.1366 9.33325 19.6279 9.54397 19.2528 9.91904C18.8777 10.2941 18.667 10.8028 18.667 11.3333V13.9999H13.3337V11.3333C13.3337 10.8028 13.1229 10.2941 12.7479 9.91904C12.3728 9.54397 11.8641 9.33325 11.3337 9.33325C10.8032 9.33325 10.2945 9.54397 9.91945 9.91904C9.54437 10.2941 9.33366 10.8028 9.33366 11.3333V11.9999H8.66699C8.13674 12.0005 7.62837 12.2114 7.25342 12.5863C6.87848 12.9613 6.66757 13.4697 6.66699 13.9999V17.9999C6.66757 18.5302 6.87848 19.0385 7.25342 19.4135C7.62837 19.7884 8.13674 19.9993 8.66699 19.9999H9.33366V20.6666C9.33366 21.197 9.54437 21.7057 9.91945 22.0808C10.2945 22.4559 10.8032 22.6666 11.3337 22.6666C11.8641 22.6666 12.3728 22.4559 12.7479 22.0808C13.1229 21.7057 13.3337 21.197 13.3337 20.6666V17.9999H18.667V20.6666C18.667 21.197 18.8777 21.7057 19.2528 22.0808C19.6279 22.4559 20.1366 22.6666 20.667 22.6666C21.1974 22.6666 21.7061 22.4559 22.0812 22.0808C22.4563 21.7057 22.667 21.197 22.667 20.6666V19.9999H23.3337C23.8639 19.9993 24.3723 19.7884 24.7472 19.4135C25.1222 19.0385 25.3331 18.5302 25.3337 17.9999V13.9999C25.3331 13.4697 25.1222 12.9613 24.7472 12.5863C24.3723 12.2114 23.8639 12.0005 23.3337 11.9999ZM8.66699 18.6666C8.49021 18.6665 8.32071 18.5962 8.1957 18.4712C8.0707 18.3462 8.00043 18.1767 8.00033 17.9999V13.9999C8.00043 13.8231 8.0707 13.6536 8.1957 13.5286C8.32071 13.4036 8.49021 13.3334 8.66699 13.3333H9.33366V18.6666H8.66699ZM12.0003 20.6666C12.0003 20.8434 11.9301 21.013 11.8051 21.138C11.68 21.263 11.5105 21.3333 11.3337 21.3333C11.1568 21.3333 10.9873 21.263 10.8623 21.138C10.7372 21.013 10.667 20.8434 10.667 20.6666V11.3333C10.667 11.1564 10.7372 10.9869 10.8623 10.8618C10.9873 10.7368 11.1568 10.6666 11.3337 10.6666C11.5105 10.6666 11.68 10.7368 11.8051 10.8618C11.9301 10.9869 12.0003 11.1564 12.0003 11.3333V20.6666ZM13.3337 16.6666V15.3333H18.667V16.6666H13.3337ZM21.3337 20.6666C21.3337 20.8434 21.2634 21.013 21.1384 21.138C21.0134 21.263 20.8438 21.3333 20.667 21.3333C20.4902 21.3333 20.3206 21.263 20.1956 21.138C20.0706 21.013 20.0003 20.8434 20.0003 20.6666V11.3333C20.0003 11.1564 20.0706 10.9869 20.1956 10.8618C20.3206 10.7368 20.4902 10.6666 20.667 10.6666C20.8438 10.6666 21.0134 10.7368 21.1384 10.8618C21.2634 10.9869 21.3337 11.1564 21.3337 11.3333V20.6666ZM24.0003 17.9999C24.0001 18.1767 23.9298 18.3461 23.8048 18.4711C23.6798 18.596 23.5104 18.6664 23.3337 18.6666H22.667V13.3333H23.3337C23.5104 13.3335 23.6798 13.4038 23.8048 13.5288C23.9298 13.6537 24.0001 13.8232 24.0003 13.9999V17.9999Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Dụng cụ Gym
                                    </span>
                                <% } %>
                                <% if(facility[0].dataValues.Air == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                    <span class="icon">
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.3333 5.33337H4.66667C4.48986 5.33337 4.32029 5.40361 4.19526 5.52864C4.07024 5.65366 4 5.82323 4 6.00004V16.6667C4 16.8435 4.07024 17.0131 4.19526 17.1381C4.32029 17.2631 4.48986 17.3334 4.66667 17.3334H27.3333C27.5101 17.3334 27.6797 17.2631 27.8047 17.1381C27.9298 17.0131 28 16.8435 28 16.6667V6.00004C28 5.82323 27.9298 5.65366 27.8047 5.52864C27.6797 5.40361 27.5101 5.33337 27.3333 5.33337ZM26.6667 6.66671V8.00004H5.33333V6.66671H26.6667ZM5.33333 16V9.33337H26.6667V16H5.33333Z" fill="currentColor"></path>
                                            <path d="M8.66667 20C8.48986 20 8.32029 20.0702 8.19526 20.1953C8.07024 20.3203 8 20.4899 8 20.6667C8 23.0133 5.54947 25.3333 4.66667 25.3333C4.48986 25.3333 4.32029 25.4036 4.19526 25.5286C4.07024 25.6536 4 25.8232 4 26C4 26.1768 4.07024 26.3464 4.19526 26.4714C4.32029 26.5964 4.48986 26.6667 4.66667 26.6667C6.38 26.6667 9.33333 23.7018 9.33333 20.6667C9.33333 20.4899 9.26309 20.3203 9.13807 20.1953C9.01305 20.0702 8.84348 20 8.66667 20Z" fill="currentColor"></path>
                                            <path d="M27.3337 25.3333C26.4509 25.3333 24.0003 23.0133 24.0003 20.6667C24.0003 20.4899 23.9301 20.3203 23.8051 20.1953C23.68 20.0702 23.5105 20 23.3337 20C23.1568 20 22.9873 20.0702 22.8623 20.1953C22.7372 20.3203 22.667 20.4899 22.667 20.6667C22.667 23.7018 25.6203 26.6667 27.3337 26.6667C27.5105 26.6667 27.68 26.5964 27.8051 26.4714C27.9301 26.3464 28.0003 26.1768 28.0003 26C28.0003 25.8232 27.9301 25.6536 27.8051 25.5286C27.68 25.4036 27.5105 25.3333 27.3337 25.3333Z" fill="currentColor"></path>
                                            <path d="M14.0003 20C13.8235 20 13.6539 20.0702 13.5289 20.1953C13.4039 20.3203 13.3337 20.4899 13.3337 20.6667C13.3337 23.1523 12.0876 25.3333 11.3337 25.3333C11.1568 25.3333 10.9873 25.4036 10.8623 25.5286C10.7372 25.6536 10.667 25.8232 10.667 26C10.667 26.1768 10.7372 26.3464 10.8623 26.4714C10.9873 26.5964 11.1568 26.6667 11.3337 26.6667C13.2412 26.6667 14.667 23.4987 14.667 20.6667C14.667 20.4899 14.5968 20.3203 14.4717 20.1953C14.3467 20.0702 14.1771 20 14.0003 20Z" fill="currentColor"></path>
                                            <path d="M20.6663 25.3333C19.9124 25.3333 18.6663 23.1523 18.6663 20.6667C18.6663 20.4899 18.5961 20.3203 18.4711 20.1953C18.3461 20.0702 18.1765 20 17.9997 20C17.8229 20 17.6533 20.0702 17.5283 20.1953C17.4032 20.3203 17.333 20.4899 17.333 20.6667C17.333 23.4987 18.7588 26.6667 20.6663 26.6667C20.8432 26.6667 21.0127 26.5964 21.1377 26.4714C21.2628 26.3464 21.333 26.1768 21.333 26C21.333 25.8232 21.2628 25.6536 21.1377 25.5286C21.0127 25.4036 20.8432 25.3333 20.6663 25.3333Z" fill="currentColor"></path>
                                            <path d="M24.667 13.3334H23.3337C23.1568 13.3334 22.9873 13.4036 22.8623 13.5286C22.7372 13.6537 22.667 13.8232 22.667 14C22.667 14.1769 22.7372 14.3464 22.8623 14.4714C22.9873 14.5965 23.1568 14.6667 23.3337 14.6667H24.667C24.8438 14.6667 25.0134 14.5965 25.1384 14.4714C25.2634 14.3464 25.3337 14.1769 25.3337 14C25.3337 13.8232 25.2634 13.6537 25.1384 13.5286C25.0134 13.4036 24.8438 13.3334 24.667 13.3334Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    Điều hòa
                                    </span>
                                <% } %>
                                <% if(facility[0].dataValues.Support == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.1777 18.2559C23.7953 17.8906 23.2868 17.6868 22.7579 17.6868C22.2291 17.6868 21.7205 17.8906 21.3381 18.2559L19.5669 20.0271C18.5141 20.2346 16.506 19.12 14.6919 17.3084C12.8803 15.4956 11.7676 13.4863 11.9719 12.4322L13.7431 10.66C14.1188 10.2831 14.3298 9.77268 14.3298 9.24054C14.3298 8.70839 14.1188 8.19794 13.7431 7.82104L11.8457 5.92324C11.4684 5.54793 10.9579 5.33729 10.4258 5.3374C9.89361 5.33751 9.38317 5.54837 9.00608 5.92384L7.10861 7.8213C3.36321 11.5674 6.08195 17.6976 10.1929 21.808C12.9337 24.548 16.5711 26.6693 19.8011 26.6693C20.6132 26.6852 21.42 26.5357 22.1724 26.2299C22.9248 25.924 23.6071 25.4682 24.1777 24.8903L26.0751 22.9934C26.4517 22.6167 26.6632 22.106 26.6632 21.5734C26.6632 21.0408 26.4517 20.53 26.0751 20.1534L24.1777 18.2559ZM25.1329 22.0508L23.2355 23.9482C21.5242 25.6595 19.248 25.4624 17.6382 24.9952C15.1658 24.1705 12.933 22.7528 11.1351 20.8658C9.24779 19.0675 7.8296 16.8343 7.00455 14.3614C6.53601 12.7536 6.33788 10.4768 8.05081 8.7635L9.94828 6.8667C10.075 6.74014 10.2467 6.66901 10.4258 6.66889C10.6048 6.66878 10.7766 6.7397 10.9035 6.8661L12.8009 8.7635C12.9272 8.89026 12.9981 9.06189 12.9981 9.2408C12.9981 9.41972 12.9272 9.59134 12.8009 9.7181L10.9035 11.6155C10.8302 11.6885 10.775 11.7775 10.7421 11.8755C10.1213 13.7378 11.8888 16.3894 13.7497 18.2504C15.6119 20.1104 18.2642 21.8735 20.1226 21.256C20.2206 21.2232 20.3096 21.1682 20.3826 21.0952L22.28 19.1985C22.4085 19.0753 22.5795 19.0065 22.7575 19.0064C22.9355 19.0062 23.1066 19.0748 23.2353 19.1978L25.1329 21.0962C25.1956 21.1588 25.2453 21.2332 25.2793 21.3151C25.3132 21.397 25.3307 21.4848 25.3307 21.5735C25.3307 21.6621 25.3132 21.7499 25.2793 21.8318C25.2453 21.9137 25.1956 21.9881 25.1329 22.0508Z" fill="currentColor"></path>
                                                <path d="M18.0012 14.664H20.6665C20.7546 14.6649 20.8419 14.6483 20.9235 14.6152C21.0051 14.5821 21.0794 14.5332 21.142 14.4712C21.2045 14.4092 21.2542 14.3355 21.2881 14.2542C21.322 14.1729 21.3395 14.0858 21.3395 13.9977C21.3395 13.9096 21.322 13.8224 21.2881 13.7412C21.2542 13.6599 21.2045 13.5861 21.142 13.5242C21.0794 13.4622 21.0051 13.4133 20.9235 13.3802C20.8419 13.3471 20.7546 13.3305 20.6665 13.3314H18.6676V11.9987H20.6665C20.7541 11.9988 20.8408 11.9816 20.9217 11.9482C21.0027 11.9147 21.0762 11.8656 21.1381 11.8037C21.2 11.7417 21.2491 11.6682 21.2826 11.5873C21.3161 11.5064 21.3333 11.4196 21.3332 11.3321V8.66719C21.3332 8.57964 21.316 8.49294 21.2825 8.41205C21.249 8.33117 21.1999 8.25767 21.138 8.19578C21.0761 8.13389 21.0026 8.08482 20.9217 8.05137C20.8407 8.01793 20.754 8.00076 20.6665 8.00085H18.0012C17.8257 8.00261 17.6579 8.07358 17.5344 8.19835C17.4109 8.32311 17.3416 8.49159 17.3416 8.66715C17.3416 8.84272 17.4109 9.0112 17.5344 9.13596C17.6579 9.26073 17.8257 9.3317 18.0012 9.33346H20.0002V10.6661H18.0012C17.9137 10.6661 17.8271 10.6833 17.7462 10.7167C17.6653 10.7502 17.5919 10.7993 17.53 10.8611C17.4681 10.923 17.419 10.9965 17.3856 11.0774C17.3521 11.1582 17.3349 11.2449 17.335 11.3324V13.9977C17.3349 14.0852 17.3521 14.1718 17.3856 14.2527C17.419 14.3336 17.4681 14.407 17.53 14.4689C17.5919 14.5308 17.6653 14.5799 17.7462 14.6134C17.827 14.6468 17.9137 14.664 18.0012 14.664Z" fill="currentColor"></path>
                                                <path d="M25.9966 8.00085C25.9091 8.0008 25.8224 8.018 25.7416 8.05147C25.6607 8.08494 25.5872 8.13402 25.5254 8.1959C25.4635 8.25779 25.4144 8.33126 25.3809 8.41213C25.3475 8.493 25.3303 8.57967 25.3303 8.66719V10.6661H23.9977V8.66719C23.9922 8.49411 23.9196 8.32996 23.7953 8.20947C23.6709 8.08898 23.5045 8.0216 23.3314 8.0216C23.1582 8.0216 22.9918 8.08898 22.8675 8.20947C22.7431 8.32996 22.6705 8.49411 22.665 8.66719V11.3324C22.6649 11.4199 22.6821 11.5066 22.7156 11.5875C22.749 11.6685 22.7981 11.742 22.86 11.8039C22.9219 11.8658 22.9953 11.9149 23.0762 11.9484C23.1571 11.9819 23.2438 11.9991 23.3314 11.9991H25.3303V13.998C25.3358 14.1711 25.4084 14.3352 25.5327 14.4557C25.6571 14.5762 25.8235 14.6436 25.9966 14.6436C26.1698 14.6436 26.3362 14.5762 26.4605 14.4557C26.5849 14.3352 26.6575 14.1711 26.663 13.998V8.66719C26.663 8.57967 26.6458 8.493 26.6124 8.41213C26.5789 8.33126 26.5298 8.25779 26.4679 8.1959C26.406 8.13402 26.3326 8.08494 26.2517 8.05147C26.1708 8.018 26.0842 8.0008 25.9966 8.00085Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Nhân viên phục vụ
                                    </span>
                                <% } %>
                            </div>
                            <div class="facilities_list-block">
                                <% if(facility[0].dataValues.Storage == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.667 22.6667H8.00033V4.66667C8.00033 4.48986 7.93009 4.32029 7.80506 4.19526C7.68004 4.07024 7.51047 4 7.33366 4H3.33366C3.15685 4 2.98728 4.07024 2.86225 4.19526C2.73723 4.32029 2.66699 4.48986 2.66699 4.66667C2.66699 4.84348 2.73723 5.01305 2.86225 5.13807C2.98728 5.2631 3.15685 5.33333 3.33366 5.33333H6.66699V23.3333C6.66699 23.5101 6.73723 23.6797 6.86225 23.8047C6.98728 23.9298 7.15685 24 7.33366 24H11.0379C10.7977 24.4035 10.6697 24.8638 10.667 25.3333C10.667 26.0406 10.9479 26.7189 11.448 27.219C11.9481 27.719 12.6264 28 13.3337 28C14.0409 28 14.7192 27.719 15.2193 27.219C15.7194 26.7189 16.0003 26.0406 16.0003 25.3333C15.9976 24.8638 15.8696 24.4035 15.6294 24H20.3713C20.1311 24.4035 20.003 24.8638 20.0003 25.3333C20.0003 26.0406 20.2813 26.7189 20.7814 27.219C21.2815 27.719 21.9597 28 22.667 28C23.3742 28 24.0525 27.719 24.5526 27.219C25.0527 26.7189 25.3337 26.0406 25.3337 25.3333C25.331 24.8638 25.2029 24.4035 24.9627 24H28.667C28.8438 24 29.0134 23.9298 29.1384 23.8047C29.2634 23.6797 29.3337 23.5101 29.3337 23.3333C29.3337 23.1565 29.2634 22.987 29.1384 22.8619C29.0134 22.7369 28.8438 22.6667 28.667 22.6667ZM14.667 25.3333C14.667 25.597 14.5888 25.8548 14.4423 26.0741C14.2958 26.2934 14.0875 26.4643 13.8439 26.5652C13.6003 26.6661 13.3322 26.6925 13.0735 26.641C12.8149 26.5896 12.5773 26.4626 12.3909 26.2761C12.2044 26.0897 12.0774 25.8521 12.0259 25.5935C11.9745 25.3348 12.0009 25.0667 12.1018 24.8231C12.2027 24.5795 12.3736 24.3712 12.5929 24.2247C12.8122 24.0782 13.07 24 13.3337 24C13.6872 24.0004 14.0261 24.1409 14.2761 24.3909C14.5261 24.6409 14.6666 24.9798 14.667 25.3333ZM24.0003 25.3333C24.0003 25.597 23.9221 25.8548 23.7756 26.0741C23.6291 26.2934 23.4209 26.4643 23.1772 26.5652C22.9336 26.6661 22.6655 26.6925 22.4069 26.641C22.1482 26.5896 21.9107 26.4626 21.7242 26.2761C21.5377 26.0897 21.4107 25.8521 21.3593 25.5935C21.3078 25.3348 21.3342 25.0667 21.4352 24.8231C21.5361 24.5795 21.707 24.3712 21.9262 24.2247C22.1455 24.0782 22.4033 24 22.667 24C23.0205 24.0004 23.3594 24.1409 23.6094 24.3909C23.8594 24.6409 24 24.9798 24.0003 25.3333Z" fill="currentColor"></path>
                                                <path d="M11.3337 20H24.667C24.8438 20 25.0134 19.9297 25.1384 19.8047C25.2634 19.6797 25.3337 19.5101 25.3337 19.3333V9.99996C25.3337 9.82315 25.2634 9.65358 25.1384 9.52855C25.0134 9.40353 24.8438 9.33329 24.667 9.33329H21.3337V8.66663C21.3331 8.13637 21.1222 7.628 20.7472 7.25306C20.3723 6.87811 19.8639 6.66721 19.3337 6.66663H16.667C16.1367 6.66721 15.6284 6.87811 15.2534 7.25306C14.8785 7.628 14.6676 8.13637 14.667 8.66663V9.33329H11.3337C11.1568 9.33329 10.9873 9.40353 10.8623 9.52855C10.7372 9.65358 10.667 9.82315 10.667 9.99996V19.3333C10.667 19.5101 10.7372 19.6797 10.8623 19.8047C10.9873 19.9297 11.1568 20 11.3337 20ZM21.3337 10.6666V18.6666H14.667V10.6666H21.3337ZM24.0003 18.6666H22.667V10.6666H24.0003V18.6666ZM16.0003 8.66663C16.0006 8.48989 16.0709 8.32045 16.1958 8.19547C16.3208 8.0705 16.4903 8.00019 16.667 7.99996H19.3337C19.5104 8.00019 19.6798 8.0705 19.8048 8.19547C19.9298 8.32045 20.0001 8.48989 20.0003 8.66663V9.33329H16.0003V8.66663ZM12.0003 10.6666H13.3337V18.6666H12.0003V10.6666Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Tủ chứa đồ
                                    </span>
                                <% } %>
                                <% if(facility[0].dataValues.Kitchen == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.66667 24H14C14.1768 24 14.3464 23.9298 14.4714 23.8047C14.5964 23.6797 14.6667 23.5101 14.6667 23.3333V12.6667C14.6657 11.8986 14.3999 11.1543 13.9141 10.5594C13.4284 9.96437 12.7524 9.55506 12 9.4004V4.66667C12 4.48986 11.9298 4.32029 11.8047 4.19526C11.6797 4.07024 11.5101 4 11.3333 4H7.33333C7.15652 4 6.98695 4.07024 6.86193 4.19526C6.7369 4.32029 6.66667 4.48986 6.66667 4.66667V9.4004C5.91431 9.55506 5.23828 9.96437 4.75253 10.5594C4.26678 11.1543 4.001 11.8986 4 12.6667V23.3333C4 23.5101 4.07024 23.6797 4.19526 23.8047C4.32029 23.9298 4.48986 24 4.66667 24ZM5.33333 22.6667V20H13.3333V22.6667H5.33333ZM5.33333 14.6667H13.3333V18.6667H5.33333V14.6667ZM7.33333 10.6667C7.51014 10.6667 7.67971 10.5964 7.80474 10.4714C7.92976 10.3464 8 10.1768 8 10V5.33333H10.6667V10C10.6667 10.1768 10.7369 10.3464 10.8619 10.4714C10.987 10.5964 11.1565 10.6667 11.3333 10.6667C11.8636 10.6672 12.372 10.8781 12.7469 11.2531C13.1219 11.628 13.3328 12.1364 13.3333 12.6667V13.3333H5.33333V12.6667C5.33392 12.1364 5.54482 11.628 5.91976 11.2531C6.29471 10.8781 6.80308 10.6672 7.33333 10.6667Z" fill="currentColor"></path>
                                                <path d="M19.334 24H26.0007C26.1612 24.0001 26.3163 23.9422 26.4375 23.8371C26.5587 23.7319 26.638 23.5866 26.6607 23.4278L27.994 14.0944C28.0076 13.9999 28.0006 13.9035 27.9736 13.8119C27.9467 13.7202 27.9003 13.6354 27.8377 13.5633C27.7752 13.4911 27.6978 13.4332 27.6109 13.3936C27.524 13.3539 27.4296 13.3334 27.334 13.3334H18.0007C17.9052 13.3334 17.8108 13.3539 17.7239 13.3936C17.6369 13.4332 17.5596 13.4911 17.497 13.5633C17.4344 13.6354 17.3881 13.7202 17.3611 13.8119C17.3341 13.9035 17.3272 13.9999 17.3407 14.0944L18.674 23.4278C18.6968 23.5866 18.776 23.7319 18.8972 23.8371C19.0185 23.9422 19.1736 24.0001 19.334 24ZM26.5652 14.6667L25.4226 22.6667H19.9122L18.7696 14.6667H26.5652Z" fill="currentColor"></path>
                                                <path d="M28.667 26.6666H3.33366C3.15685 26.6666 2.98728 26.7369 2.86225 26.8619C2.73723 26.9869 2.66699 27.1565 2.66699 27.3333C2.66699 27.5101 2.73723 27.6797 2.86225 27.8047C2.98728 27.9297 3.15685 28 3.33366 28H28.667C28.8438 28 29.0134 27.9297 29.1384 27.8047C29.2634 27.6797 29.3337 27.5101 29.3337 27.3333C29.3337 27.1565 29.2634 26.9869 29.1384 26.8619C29.0134 26.7369 28.8438 26.6666 28.667 26.6666Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Bếp nấu ăn
                                    </span>
                                <% } %>
                                <% if(facility[0].dataValues.Bathroom == 1){ %>
                                    <span class="facilities_list-block_item d-flex align-items-center">
                                        <span class="icon">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.333 2.66663C15.1005 2.66869 16.795 3.37173 18.0448 4.62153C19.2946 5.87132 19.9976 7.56582 19.9997 9.33329V9.40069C21.4623 9.56134 22.8146 10.255 23.7984 11.3493C24.7821 12.4436 25.3284 13.8618 25.333 15.3333V16.6666C25.333 16.8434 25.2628 17.013 25.1377 17.138C25.0127 17.2631 24.8432 17.3333 24.6663 17.3333H13.9997C13.8229 17.3333 13.6533 17.2631 13.5283 17.138C13.4032 17.013 13.333 16.8434 13.333 16.6666V15.3333C13.3376 13.8618 13.8839 12.4436 14.8676 11.3493C15.8514 10.255 17.2037 9.56134 18.6663 9.40069V9.33329C18.6663 7.9188 18.1044 6.56225 17.1042 5.56206C16.104 4.56186 14.7475 3.99996 13.333 3.99996C11.9185 3.99996 10.562 4.56186 9.56177 5.56206C8.56158 6.56225 7.99967 7.9188 7.99967 9.33329V28.6666C7.99967 28.8434 7.92944 29.013 7.80441 29.138C7.67939 29.2631 7.50982 29.3333 7.33301 29.3333C7.1562 29.3333 6.98663 29.2631 6.8616 29.138C6.73658 29.013 6.66634 28.8434 6.66634 28.6666V9.33329C6.66841 7.56582 7.37145 5.87132 8.62124 4.62153C9.87104 3.37173 11.5655 2.66869 13.333 2.66663ZM14.6663 15.3333V16H23.9997V15.3333C23.9997 14.0956 23.508 12.9086 22.6328 12.0335C21.7577 11.1583 20.5707 10.6666 19.333 10.6666C18.0953 10.6666 16.9083 11.1583 16.0332 12.0335C15.158 12.9086 14.6663 14.0956 14.6663 15.3333Z" fill="currentColor"></path>
                                                <path d="M23.3333 20C23.5101 20 23.6797 20.0702 23.8047 20.1953C23.9298 20.3203 24 20.4899 24 20.6667V22C24 22.1768 23.9298 22.3464 23.8047 22.4714C23.6797 22.5964 23.5101 22.6667 23.3333 22.6667C23.1565 22.6667 22.987 22.5964 22.8619 22.4714C22.7369 22.3464 22.6667 22.1768 22.6667 22V20.6667C22.6667 20.4899 22.7369 20.3203 22.8619 20.1953C22.987 20.0702 23.1565 20 23.3333 20Z" fill="currentColor"></path>
                                                <path d="M23.3333 25.3333C23.5101 25.3333 23.6797 25.4035 23.8047 25.5285C23.9298 25.6535 24 25.8231 24 25.9999V27.3333C24 27.5101 23.9298 27.6796 23.8047 27.8047C23.6797 27.9297 23.5101 27.9999 23.3333 27.9999C23.1565 27.9999 22.987 27.9297 22.8619 27.8047C22.7369 27.6796 22.6667 27.5101 22.6667 27.3333V25.9999C22.6667 25.8231 22.7369 25.6535 22.8619 25.5285C22.987 25.4035 23.1565 25.3333 23.3333 25.3333Z" fill="currentColor"></path>
                                                <path d="M19.3333 20C19.5101 20 19.6797 20.0702 19.8047 20.1953C19.9298 20.3203 20 20.4899 20 20.6667V22C20 22.1768 19.9298 22.3464 19.8047 22.4714C19.6797 22.5964 19.5101 22.6667 19.3333 22.6667C19.1565 22.6667 18.987 22.5964 18.8619 22.4714C18.7369 22.3464 18.6667 22.1768 18.6667 22V20.6667C18.6667 20.4899 18.7369 20.3203 18.8619 20.1953C18.987 20.0702 19.1565 20 19.3333 20Z" fill="currentColor"></path>
                                                <path d="M15.3333 20C15.5101 20 15.6797 20.0702 15.8047 20.1953C15.9298 20.3203 16 20.4899 16 20.6667V22C16 22.1768 15.9298 22.3464 15.8047 22.4714C15.6797 22.5964 15.5101 22.6667 15.3333 22.6667C15.1565 22.6667 14.987 22.5964 14.8619 22.4714C14.7369 22.3464 14.6667 22.1768 14.6667 22V20.6667C14.6667 20.4899 14.7369 20.3203 14.8619 20.1953C14.987 20.0702 15.1565 20 15.3333 20Z" fill="currentColor"></path>
                                                <path d="M19.3333 25.3333C19.5101 25.3333 19.6797 25.4035 19.8047 25.5285C19.9298 25.6535 20 25.8231 20 25.9999V27.3333C20 27.5101 19.9298 27.6796 19.8047 27.8047C19.6797 27.9297 19.5101 27.9999 19.3333 27.9999C19.1565 27.9999 18.987 27.9297 18.8619 27.8047C18.7369 27.6796 18.6667 27.5101 18.6667 27.3333V25.9999C18.6667 25.8231 18.7369 25.6535 18.8619 25.5285C18.987 25.4035 19.1565 25.3333 19.3333 25.3333Z" fill="currentColor"></path>
                                                <path d="M15.3333 25.3333C15.5101 25.3333 15.6797 25.4035 15.8047 25.5285C15.9298 25.6535 16 25.8231 16 25.9999V27.3333C16 27.5101 15.9298 27.6796 15.8047 27.8047C15.6797 27.9297 15.5101 27.9999 15.3333 27.9999C15.1565 27.9999 14.987 27.9297 14.8619 27.8047C14.7369 27.6796 14.6667 27.5101 14.6667 27.3333V25.9999C14.6667 25.8231 14.7369 25.6535 14.8619 25.5285C14.987 25.4035 15.1565 25.3333 15.3333 25.3333Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Phòng tắm
                                    </span>
                                <% } %>
                            </div>
                        </div>
                    </section>

                    <% if(rule.length >= 1){ %>
                        <section class="rules">
                            <h4 class="rules_header">Quy tắc thuê phòng</h4>
                            <div class="rules_list d-md-flex flex-lg-wrap">
                                <div class="rules_list-block">
                                    <p class="rules_list-block_item d-flex align-items-baseline">
                                        <i class="icon-check icon"></i>
                                        <%= rule[0].dataValues.Rules %>
                                    </p>
                                    <% if(rule.length >= 2){ %>
                                        <p class="rules_list-block_item d-flex align-items-baseline">
                                            <i class="icon-check icon"></i>
                                            <%= rule[1].dataValues.Rules %>
                                        </p>
                                    <% } %>

                                    <% if(rule.length >= 3){ %>
                                        <p class="rules_list-block_item d-flex align-items-baseline">
                                            <i class="icon-check icon"></i>
                                            <%= rule[2].dataValues.Rules %>
                                        </p>
                                    <% } %>
                                </div>
                                <div class="rules_list-block">
                                    <% if(rule.length >= 4){ %>
                                        <p class="rules_list-block_item d-flex align-items-baseline">
                                            <i class="icon-check icon"></i>
                                            <%= rule[3].dataValues.Rules %>
                                        </p>
                                    <% } %>
                                    <% if(rule.length >= 5){ %>
                                        <p class="rules_list-block_item rules_list-block_item--highlight d-flex align-items-start">
                                            <i class="icon-check icon"></i>
                                            <%= rule[4].dataValues.Rules %>
                                        </p>
                                    <% } %>
                                </div>
                            </div>
                        </section>
                    <% } %>
                </div>
                <div class="room_main-cards col-lg-4">
                    <div class="room_main-cards_card">
                        <span class="pricing">
                            <span class="pricing_price h2" style="font-size: 30px;"><%= room.Price.toLocaleString() %>đ</span>
                            / 1 đêm
                        </span>
                        <form class="booking" action="/dat-phong/" method="post" autocomplete="off" data-type="booking">
                            <input type="hidden" name="RoomId" value="<%= room.Id %>">
                            <div class="booking_group d-flex flex-column">
                                <label class="booking_group-label h5" for="checkIn">Ngày thuê phòng</label>
                                <div class="booking_group-wrapper">
                                    <i class="icon-calendar icon"></i>
                                    <input class="booking_group-field field required" type="date" name="startDate">
                                </div>
                            </div>
                            <div class="booking_group d-flex flex-column">
                                <label class="booking_group-label h5" for="checkOut">Ngày trả phòng</label>
                                <div class="booking_group-wrapper">
                                    <i class="icon-calendar icon"></i>
                                    <input class="booking_group-field field required" type="date" name="endDate">
                                </div>
                            </div>
                            <button class="booking_btn btn theme-element theme-element--accent" type="submit">Đặt Phòng</button>
                        </form>
                    </div>
                    <div class="room_main-cards_card accent">
                        <h3 class="title">Khuyến mãi </h3>
                        <p class="text">Bạn sẽ được giảm giá phòng khi thuê phòng với thời gian dài!</p>
                        <div class="content">
                            <p class="text">Giảm tới <b>20%</b> khi bạn thuê phòng từ 7 đến 14 đêm</p>
                            <p class="text">Giảm tới <b>30%</b> khi bạn thuê phòng từ 14 đến 29 đêm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- room section start -->
    <!-- recommendation section start -->
    <section class="recommendation section">
        <div class="container d-xl-flex">
            <div class="main">
                <h4 class="main_subtitle">Đề xuất cho bạn</h4>
                <h2 class="main_title aos-init aos-animate" data-aos="fade-up" ><%= related[0].dataValues.Name %></h2>
                <div class="main_amenities d-flex flex-wrap align-items-center">
                    <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                        <i class="icon-user icon"></i>
                        <%= related[0].dataValues.People %> người
                    </span>
                    <% if(related[0].facility.dataValues.Bed == 1){ %>
                        <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                            <i class="icon-twin_bed icon"></i>
                            1 giường lớn
                        </span>
                    <% }else if(related[0].facility.dataValues.Bed == 2){ %>
                        <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                            <i class="icon-bunk_bed icon"></i>
                            2 giường nhỏ
                        </span>
                    <% }else if(related[0].facility.dataValues.Bed == 3){ %>
                        <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                            <i class="icon-twin_bed icon"></i>
                            1 giường lớn
                        </span>
                        <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                            <i class="icon-bunk_bed icon"></i>
                            2 giường nhỏ
                        </span>
                    <% }else{ %>
                        <span class="main_amenities-item d-inline-flex align-items-center aos-init aos-animate" data-aos="fade-up">
                            <i class="icon-twin_bed icon"></i>
                            1 giường lớn
                        </span>
                    <% } %>

                </div>
                <p class="main_text aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                    <%- related[0].dataValues.Description.substring(0, 128) %> ...
                </p>
                <ul class="main_list">
                    <% if(related[0].facility.dataValues.Bed == 1){ %>
                        <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.9997 14.7341V7.33329C27.9997 7.15648 27.9294 6.98691 27.8044 6.86189C27.6794 6.73686 27.5098 6.66663 27.333 6.66663H4.66634C4.48953 6.66663 4.31996 6.73686 4.19494 6.86189C4.06991 6.98691 3.99967 7.15648 3.99967 7.33329V14.7341C3.24737 14.8887 2.57136 15.2979 2.0856 15.8928C1.59985 16.4877 1.33405 17.2319 1.33301 18V26C1.33301 26.1768 1.40325 26.3463 1.52827 26.4714C1.65329 26.5964 1.82286 26.6666 1.99967 26.6666H4.66634C4.84315 26.6666 5.01272 26.5964 5.13775 26.4714C5.26277 26.3463 5.33301 26.1768 5.33301 26V22.6666H26.6663V26C26.6663 26.1768 26.7366 26.3463 26.8616 26.4714C26.9866 26.5964 27.1562 26.6666 27.333 26.6666H29.9997C30.1765 26.6666 30.3461 26.5964 30.4711 26.4714C30.5961 26.3463 30.6663 26.1768 30.6663 26V18C30.6654 17.2319 30.3996 16.4877 29.9138 15.8928C29.4281 15.2979 28.752 14.8886 27.9997 14.7341ZM5.33301 7.99996H26.6663V14.6666H23.9997V11.3333C23.9997 11.1565 23.9294 10.9869 23.8044 10.8619C23.6794 10.7369 23.5098 10.6666 23.333 10.6666H17.9997C17.8229 10.6666 17.6533 10.7369 17.5283 10.8619C17.4032 10.9869 17.333 11.1565 17.333 11.3333V14.6666H14.6663V11.3333C14.6663 11.1565 14.5961 10.9869 14.4711 10.8619C14.3461 10.7369 14.1765 10.6666 13.9997 10.6666H8.66634C8.48953 10.6666 8.31996 10.7369 8.19494 10.8619C8.06991 10.9869 7.99967 11.1565 7.99967 11.3333V14.6666H5.33301V7.99996ZM22.6663 14.6666H18.6663V12H22.6663V14.6666ZM13.333 14.6666H9.33301V12H13.333V14.6666ZM29.333 25.3333H27.9997V22C27.9997 21.8231 27.9294 21.6536 27.8044 21.5286C27.6794 21.4035 27.5098 21.3333 27.333 21.3333H4.66634C4.48953 21.3333 4.31996 21.4035 4.19494 21.5286C4.06991 21.6536 3.99967 21.8231 3.99967 22V25.3333H2.66634V18C2.66692 17.4697 2.87782 16.9613 3.25277 16.5864C3.62772 16.2114 4.13609 16.0005 4.66634 16H27.333C27.8633 16.0005 28.3716 16.2114 28.7466 16.5864C29.1215 16.9613 29.3324 17.4697 29.333 18V25.3333Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            1 giường lớn
                        </li>
                    <% }else if(related[0].facility.dataValues.Bed == 2){ %>
                        <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.9997 14.7341V7.33329C27.9997 7.15648 27.9294 6.98691 27.8044 6.86189C27.6794 6.73686 27.5098 6.66663 27.333 6.66663H4.66634C4.48953 6.66663 4.31996 6.73686 4.19494 6.86189C4.06991 6.98691 3.99967 7.15648 3.99967 7.33329V14.7341C3.24737 14.8887 2.57136 15.2979 2.0856 15.8928C1.59985 16.4877 1.33405 17.2319 1.33301 18V26C1.33301 26.1768 1.40325 26.3463 1.52827 26.4714C1.65329 26.5964 1.82286 26.6666 1.99967 26.6666H4.66634C4.84315 26.6666 5.01272 26.5964 5.13775 26.4714C5.26277 26.3463 5.33301 26.1768 5.33301 26V22.6666H26.6663V26C26.6663 26.1768 26.7366 26.3463 26.8616 26.4714C26.9866 26.5964 27.1562 26.6666 27.333 26.6666H29.9997C30.1765 26.6666 30.3461 26.5964 30.4711 26.4714C30.5961 26.3463 30.6663 26.1768 30.6663 26V18C30.6654 17.2319 30.3996 16.4877 29.9138 15.8928C29.4281 15.2979 28.752 14.8886 27.9997 14.7341ZM5.33301 7.99996H26.6663V14.6666H23.9997V11.3333C23.9997 11.1565 23.9294 10.9869 23.8044 10.8619C23.6794 10.7369 23.5098 10.6666 23.333 10.6666H17.9997C17.8229 10.6666 17.6533 10.7369 17.5283 10.8619C17.4032 10.9869 17.333 11.1565 17.333 11.3333V14.6666H14.6663V11.3333C14.6663 11.1565 14.5961 10.9869 14.4711 10.8619C14.3461 10.7369 14.1765 10.6666 13.9997 10.6666H8.66634C8.48953 10.6666 8.31996 10.7369 8.19494 10.8619C8.06991 10.9869 7.99967 11.1565 7.99967 11.3333V14.6666H5.33301V7.99996ZM22.6663 14.6666H18.6663V12H22.6663V14.6666ZM13.333 14.6666H9.33301V12H13.333V14.6666ZM29.333 25.3333H27.9997V22C27.9997 21.8231 27.9294 21.6536 27.8044 21.5286C27.6794 21.4035 27.5098 21.3333 27.333 21.3333H4.66634C4.48953 21.3333 4.31996 21.4035 4.19494 21.5286C4.06991 21.6536 3.99967 21.8231 3.99967 22V25.3333H2.66634V18C2.66692 17.4697 2.87782 16.9613 3.25277 16.5864C3.62772 16.2114 4.13609 16.0005 4.66634 16H27.333C27.8633 16.0005 28.3716 16.2114 28.7466 16.5864C29.1215 16.9613 29.3324 17.4697 29.333 18V25.3333Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            2 giường nhỏ
                        </li>
                    <% }else if(related[0].facility.dataValues.Bed == 3){ %>
                        <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.9997 14.7341V7.33329C27.9997 7.15648 27.9294 6.98691 27.8044 6.86189C27.6794 6.73686 27.5098 6.66663 27.333 6.66663H4.66634C4.48953 6.66663 4.31996 6.73686 4.19494 6.86189C4.06991 6.98691 3.99967 7.15648 3.99967 7.33329V14.7341C3.24737 14.8887 2.57136 15.2979 2.0856 15.8928C1.59985 16.4877 1.33405 17.2319 1.33301 18V26C1.33301 26.1768 1.40325 26.3463 1.52827 26.4714C1.65329 26.5964 1.82286 26.6666 1.99967 26.6666H4.66634C4.84315 26.6666 5.01272 26.5964 5.13775 26.4714C5.26277 26.3463 5.33301 26.1768 5.33301 26V22.6666H26.6663V26C26.6663 26.1768 26.7366 26.3463 26.8616 26.4714C26.9866 26.5964 27.1562 26.6666 27.333 26.6666H29.9997C30.1765 26.6666 30.3461 26.5964 30.4711 26.4714C30.5961 26.3463 30.6663 26.1768 30.6663 26V18C30.6654 17.2319 30.3996 16.4877 29.9138 15.8928C29.4281 15.2979 28.752 14.8886 27.9997 14.7341ZM5.33301 7.99996H26.6663V14.6666H23.9997V11.3333C23.9997 11.1565 23.9294 10.9869 23.8044 10.8619C23.6794 10.7369 23.5098 10.6666 23.333 10.6666H17.9997C17.8229 10.6666 17.6533 10.7369 17.5283 10.8619C17.4032 10.9869 17.333 11.1565 17.333 11.3333V14.6666H14.6663V11.3333C14.6663 11.1565 14.5961 10.9869 14.4711 10.8619C14.3461 10.7369 14.1765 10.6666 13.9997 10.6666H8.66634C8.48953 10.6666 8.31996 10.7369 8.19494 10.8619C8.06991 10.9869 7.99967 11.1565 7.99967 11.3333V14.6666H5.33301V7.99996ZM22.6663 14.6666H18.6663V12H22.6663V14.6666ZM13.333 14.6666H9.33301V12H13.333V14.6666ZM29.333 25.3333H27.9997V22C27.9997 21.8231 27.9294 21.6536 27.8044 21.5286C27.6794 21.4035 27.5098 21.3333 27.333 21.3333H4.66634C4.48953 21.3333 4.31996 21.4035 4.19494 21.5286C4.06991 21.6536 3.99967 21.8231 3.99967 22V25.3333H2.66634V18C2.66692 17.4697 2.87782 16.9613 3.25277 16.5864C3.62772 16.2114 4.13609 16.0005 4.66634 16H27.333C27.8633 16.0005 28.3716 16.2114 28.7466 16.5864C29.1215 16.9613 29.3324 17.4697 29.333 18V25.3333Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            3 giường
                        </li>
                    <% }else{ %>
                        <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.9997 14.7341V7.33329C27.9997 7.15648 27.9294 6.98691 27.8044 6.86189C27.6794 6.73686 27.5098 6.66663 27.333 6.66663H4.66634C4.48953 6.66663 4.31996 6.73686 4.19494 6.86189C4.06991 6.98691 3.99967 7.15648 3.99967 7.33329V14.7341C3.24737 14.8887 2.57136 15.2979 2.0856 15.8928C1.59985 16.4877 1.33405 17.2319 1.33301 18V26C1.33301 26.1768 1.40325 26.3463 1.52827 26.4714C1.65329 26.5964 1.82286 26.6666 1.99967 26.6666H4.66634C4.84315 26.6666 5.01272 26.5964 5.13775 26.4714C5.26277 26.3463 5.33301 26.1768 5.33301 26V22.6666H26.6663V26C26.6663 26.1768 26.7366 26.3463 26.8616 26.4714C26.9866 26.5964 27.1562 26.6666 27.333 26.6666H29.9997C30.1765 26.6666 30.3461 26.5964 30.4711 26.4714C30.5961 26.3463 30.6663 26.1768 30.6663 26V18C30.6654 17.2319 30.3996 16.4877 29.9138 15.8928C29.4281 15.2979 28.752 14.8886 27.9997 14.7341ZM5.33301 7.99996H26.6663V14.6666H23.9997V11.3333C23.9997 11.1565 23.9294 10.9869 23.8044 10.8619C23.6794 10.7369 23.5098 10.6666 23.333 10.6666H17.9997C17.8229 10.6666 17.6533 10.7369 17.5283 10.8619C17.4032 10.9869 17.333 11.1565 17.333 11.3333V14.6666H14.6663V11.3333C14.6663 11.1565 14.5961 10.9869 14.4711 10.8619C14.3461 10.7369 14.1765 10.6666 13.9997 10.6666H8.66634C8.48953 10.6666 8.31996 10.7369 8.19494 10.8619C8.06991 10.9869 7.99967 11.1565 7.99967 11.3333V14.6666H5.33301V7.99996ZM22.6663 14.6666H18.6663V12H22.6663V14.6666ZM13.333 14.6666H9.33301V12H13.333V14.6666ZM29.333 25.3333H27.9997V22C27.9997 21.8231 27.9294 21.6536 27.8044 21.5286C27.6794 21.4035 27.5098 21.3333 27.333 21.3333H4.66634C4.48953 21.3333 4.31996 21.4035 4.19494 21.5286C4.06991 21.6536 3.99967 21.8231 3.99967 22V25.3333H2.66634V18C2.66692 17.4697 2.87782 16.9613 3.25277 16.5864C3.62772 16.2114 4.13609 16.0005 4.66634 16H27.333C27.8633 16.0005 28.3716 16.2114 28.7466 16.5864C29.1215 16.9613 29.3324 17.4697 29.333 18V25.3333Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            1 giường lớn
                        </li>
                    <% } %>
                    
                    <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <span class="icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.2786 7.84667C26.3436 7.78509 26.3956 7.71106 26.4314 7.62899C26.4671 7.54691 26.4861 7.45848 26.487 7.36895C26.4879 7.27942 26.4708 7.19062 26.4367 7.10783C26.4026 7.02505 26.3522 6.94997 26.2884 6.88707C23.5465 4.18306 19.8503 2.66711 15.9994 2.66711C12.1484 2.66711 8.45223 4.18306 5.7103 6.88707C5.64658 6.94997 5.59616 7.02505 5.56205 7.10783C5.52795 7.19062 5.51084 7.27942 5.51175 7.36895C5.51267 7.45848 5.53158 7.54691 5.56738 7.62899C5.60317 7.71106 5.65511 7.78509 5.7201 7.84667L8.6289 10.6032L15.541 17.1514C15.6649 17.2685 15.8289 17.3337 15.9994 17.3337C16.1698 17.3337 16.3338 17.2685 16.4577 17.1514L26.2786 7.84667ZM10.0723 10.1333C11.7398 8.75474 13.8358 8.00054 15.9994 8.00054C18.163 8.00054 20.2589 8.75474 21.9264 10.1333L19.9357 12.0195C18.7895 11.1932 17.4123 10.7485 15.9994 10.7485C14.5864 10.7485 13.2092 11.1932 12.063 12.0195L10.0723 10.1333ZM15.9994 4.00001C19.2628 3.99296 22.414 5.19111 24.8483 7.36461L22.8923 9.21794C20.973 7.57171 18.5279 6.66674 15.9994 6.66674C13.4708 6.66674 11.0257 7.57171 9.10643 9.21794L7.15043 7.36461C9.58478 5.19111 12.7359 3.99296 15.9994 4.00001ZM13.0255 12.931C13.9048 12.3403 14.9401 12.0248 15.9994 12.0248C17.0587 12.0248 18.094 12.3403 18.9732 12.931L15.9994 15.7487L13.0255 12.931Z" fill="currentColor"></path>
                                <path d="M8.66634 22.6667C8.84315 22.6667 9.01272 22.5965 9.13774 22.4714C9.26277 22.3464 9.33301 22.1769 9.33301 22C9.33301 21.8232 9.26277 21.6537 9.13774 21.5286C9.01272 21.4036 8.84315 21.3334 8.66634 21.3334H5.99967C5.82286 21.3334 5.65329 21.4036 5.52827 21.5286C5.40325 21.6537 5.33301 21.8232 5.33301 22V27.3334C5.33301 27.5102 5.40325 27.6798 5.52827 27.8048C5.65329 27.9298 5.82286 28 5.99967 28C6.17649 28 6.34605 27.9298 6.47108 27.8048C6.5961 27.6798 6.66634 27.5102 6.66634 27.3334V25.3334H8.66634C8.84315 25.3334 9.01272 25.2631 9.13774 25.1381C9.26277 25.0131 9.33301 24.8435 9.33301 24.6667C9.33301 24.4899 9.26277 24.3203 9.13774 24.1953C9.01272 24.0703 8.84315 24 8.66634 24H6.66634V22.6667H8.66634Z" fill="currentColor"></path>
                                <path d="M15.9993 23.3334C15.9988 22.8031 15.7879 22.2947 15.4129 21.9198C15.038 21.5449 14.5296 21.334 13.9993 21.3334H11.3327C11.1559 21.3334 10.9863 21.4036 10.8613 21.5286C10.7363 21.6537 10.666 21.8232 10.666 22V27.3334C10.666 27.5102 10.7363 27.6798 10.8613 27.8048C10.9863 27.9298 11.1559 28 11.3327 28C11.5095 28 11.6791 27.9298 11.8041 27.8048C11.9291 27.6798 11.9993 27.5102 11.9993 27.3334V25.3334H12.9993L14.7993 27.7334C14.8519 27.8034 14.9177 27.8624 14.993 27.907C15.0684 27.9516 15.1517 27.981 15.2384 27.9933C15.3251 28.0057 15.4133 28.0009 15.4981 27.9792C15.5829 27.9575 15.6626 27.9192 15.7327 27.8667C15.8027 27.8142 15.8617 27.7484 15.9063 27.673C15.9509 27.5977 15.9803 27.5143 15.9926 27.4277C16.005 27.341 16.0002 27.2527 15.9785 27.1679C15.9568 27.0831 15.9185 27.0034 15.866 26.9334L14.5912 25.2334C14.9978 25.1081 15.3537 24.8562 15.607 24.5144C15.8603 24.1726 15.9978 23.7588 15.9993 23.3334ZM13.9993 24H11.9993V22.6667H13.9993C14.1762 22.6667 14.3457 22.7369 14.4708 22.862C14.5958 22.987 14.666 23.1566 14.666 23.3334C14.666 23.5102 14.5958 23.6798 14.4708 23.8048C14.3457 23.9298 14.1762 24 13.9993 24Z" fill="currentColor"></path>
                                <path d="M20.6663 22.6667C20.8432 22.6667 21.0127 22.5965 21.1377 22.4714C21.2628 22.3464 21.333 22.1769 21.333 22C21.333 21.8232 21.2628 21.6537 21.1377 21.5286C21.0127 21.4036 20.8432 21.3334 20.6663 21.3334H17.9997C17.8229 21.3334 17.6533 21.4036 17.5283 21.5286C17.4032 21.6537 17.333 21.8232 17.333 22V27.3334C17.333 27.5102 17.4032 27.6798 17.5283 27.8048C17.6533 27.9298 17.8229 28 17.9997 28H20.6663C20.8432 28 21.0127 27.9298 21.1377 27.8048C21.2628 27.6798 21.333 27.5102 21.333 27.3334C21.333 27.1566 21.2628 26.987 21.1377 26.862C21.0127 26.7369 20.8432 26.6667 20.6663 26.6667H18.6663V25.3334H20.6663C20.8432 25.3334 21.0127 25.2631 21.1377 25.1381C21.2628 25.0131 21.333 24.8435 21.333 24.6667C21.333 24.4899 21.2628 24.3203 21.1377 24.1953C21.0127 24.0703 20.8432 24 20.6663 24H18.6663V22.6667H20.6663Z" fill="currentColor"></path>
                                <path d="M25.9993 25.3334C26.1762 25.3334 26.3457 25.2631 26.4708 25.1381C26.5958 25.0131 26.666 24.8435 26.666 24.6667C26.666 24.4899 26.5958 24.3203 26.4708 24.1953C26.3457 24.0703 26.1762 24 25.9993 24H23.9993V22.6667H25.9993C26.1762 22.6667 26.3457 22.5965 26.4708 22.4714C26.5958 22.3464 26.666 22.1769 26.666 22C26.666 21.8232 26.5958 21.6537 26.4708 21.5286C26.3457 21.4036 26.1762 21.3334 25.9993 21.3334H23.3327C23.1559 21.3334 22.9863 21.4036 22.8613 21.5286C22.7363 21.6537 22.666 21.8232 22.666 22V27.3334C22.666 27.5102 22.7363 27.6798 22.8613 27.8048C22.9863 27.9298 23.1559 28 23.3327 28H25.9993C26.1762 28 26.3457 27.9298 26.4708 27.8048C26.5958 27.6798 26.666 27.5102 26.666 27.3334C26.666 27.1566 26.5958 26.987 26.4708 26.862C26.3457 26.7369 26.1762 26.6667 25.9993 26.6667H23.9993V25.3334H25.9993Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <% if(related[0].facility.dataValues.Wifi == 1){ %>
                            Wifi Miến Phí
                        <% }else{ %>
                            Không Wifi
                        <% } %>
                    </li>

                    <li class="main_list-item d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                        <span class="icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.3333 5.33337H4.66667C4.48986 5.33337 4.32029 5.40361 4.19526 5.52864C4.07024 5.65366 4 5.82323 4 6.00004V16.6667C4 16.8435 4.07024 17.0131 4.19526 17.1381C4.32029 17.2631 4.48986 17.3334 4.66667 17.3334H27.3333C27.5101 17.3334 27.6797 17.2631 27.8047 17.1381C27.9298 17.0131 28 16.8435 28 16.6667V6.00004C28 5.82323 27.9298 5.65366 27.8047 5.52864C27.6797 5.40361 27.5101 5.33337 27.3333 5.33337ZM26.6667 6.66671V8.00004H5.33333V6.66671H26.6667ZM5.33333 16V9.33337H26.6667V16H5.33333Z" fill="currentColor"></path>
                                <path d="M8.66667 20C8.48986 20 8.32029 20.0702 8.19526 20.1953C8.07024 20.3203 8 20.4899 8 20.6667C8 23.0133 5.54947 25.3333 4.66667 25.3333C4.48986 25.3333 4.32029 25.4036 4.19526 25.5286C4.07024 25.6536 4 25.8232 4 26C4 26.1768 4.07024 26.3464 4.19526 26.4714C4.32029 26.5964 4.48986 26.6667 4.66667 26.6667C6.38 26.6667 9.33333 23.7018 9.33333 20.6667C9.33333 20.4899 9.26309 20.3203 9.13807 20.1953C9.01305 20.0702 8.84348 20 8.66667 20Z" fill="currentColor"></path>
                                <path d="M27.3337 25.3333C26.4509 25.3333 24.0003 23.0133 24.0003 20.6667C24.0003 20.4899 23.9301 20.3203 23.8051 20.1953C23.68 20.0702 23.5105 20 23.3337 20C23.1568 20 22.9873 20.0702 22.8623 20.1953C22.7372 20.3203 22.667 20.4899 22.667 20.6667C22.667 23.7018 25.6203 26.6667 27.3337 26.6667C27.5105 26.6667 27.68 26.5964 27.8051 26.4714C27.9301 26.3464 28.0003 26.1768 28.0003 26C28.0003 25.8232 27.9301 25.6536 27.8051 25.5286C27.68 25.4036 27.5105 25.3333 27.3337 25.3333Z" fill="currentColor"></path>
                                <path d="M14.0003 20C13.8235 20 13.6539 20.0702 13.5289 20.1953C13.4039 20.3203 13.3337 20.4899 13.3337 20.6667C13.3337 23.1523 12.0876 25.3333 11.3337 25.3333C11.1568 25.3333 10.9873 25.4036 10.8623 25.5286C10.7372 25.6536 10.667 25.8232 10.667 26C10.667 26.1768 10.7372 26.3464 10.8623 26.4714C10.9873 26.5964 11.1568 26.6667 11.3337 26.6667C13.2412 26.6667 14.667 23.4987 14.667 20.6667C14.667 20.4899 14.5968 20.3203 14.4717 20.1953C14.3467 20.0702 14.1771 20 14.0003 20Z" fill="currentColor"></path>
                                <path d="M20.6663 25.3333C19.9124 25.3333 18.6663 23.1523 18.6663 20.6667C18.6663 20.4899 18.5961 20.3203 18.4711 20.1953C18.3461 20.0702 18.1765 20 17.9997 20C17.8229 20 17.6533 20.0702 17.5283 20.1953C17.4032 20.3203 17.333 20.4899 17.333 20.6667C17.333 23.4987 18.7588 26.6667 20.6663 26.6667C20.8432 26.6667 21.0127 26.5964 21.1377 26.4714C21.2628 26.3464 21.333 26.1768 21.333 26C21.333 25.8232 21.2628 25.6536 21.1377 25.5286C21.0127 25.4036 20.8432 25.3333 20.6663 25.3333Z" fill="currentColor"></path>
                                <path d="M24.667 13.3334H23.3337C23.1568 13.3334 22.9873 13.4036 22.8623 13.5286C22.7372 13.6537 22.667 13.8232 22.667 14C22.667 14.1769 22.7372 14.3464 22.8623 14.4714C22.9873 14.5965 23.1568 14.6667 23.3337 14.6667H24.667C24.8438 14.6667 25.0134 14.5965 25.1384 14.4714C25.2634 14.3464 25.3337 14.1769 25.3337 14C25.3337 13.8232 25.2634 13.6537 25.1384 13.5286C25.0134 13.4036 24.8438 13.3334 24.667 13.3334Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <% if(related[0].facility.dataValues.Wifi == 1){ %>
                            Điều hòa
                        <% }else{ %>
                            Không điều hòa
                        <% } %>
                    </li>
                </ul>
                <div class="wrapper aos-init aos-animate" data-aos="fade-up">
                    <a class="btn theme-element theme-element--accent" href="/phong-nghi/<%= related[0].dataValues.Slug %>/">Xem Thêm</a>
                </div>
            </div>
            <div class="media aos-init aos-animate" data-aos="fade-up">
                <picture>
                    <source data-srcset="<%= related[0].dataValues.Avatar %>" srcset="<%= related[0].dataValues.Avatar %>">
                    <img width="570" height="570" class="lazy entered loaded" data-src="<%= related[0].dataValues.Avatar %>" src="<%= related[0].dataValues.Avatar %>" alt="media" data-ll-status="loaded">
                </picture>
            </div>
        </div>
    </section>


    <% if(related.length >= 2){ %>
        <section class="rooms section--blockbg section">
            <div class="block"></div>
            <div class="container">
                <div class="rooms_header d-sm-flex justify-content-between align-items-center">
                    <h2 class="rooms_header-title aos-init aos-animate" data-aos="fade-right" style="font-size: 30px;">Phòng nghỉ khác</h2>
                    <div class="wrapper aos-init aos-animate" data-aos="fade-left">
                        <a class="btn theme-element theme-element--light d-flex" href="/phong-nghi/">Xem tất cả</a>
                    </div>
                </div>
                <ul class="rooms_list d-md-flex flex-wrap">
                    <% for (let i = 1; i < related.length; i++) { %>
                        <li class="rooms_list-item col-md-6 col-xl-4 aos-init aos-animate" data-order="1" data-aos="fade-up">
                            <div class="item-wrapper d-md-flex flex-column">
                                <div class="media">
                                    <picture>
                                        <source data-srcset="<%= related[i].dataValues.Avatar %>" srcset="<%= related[i].dataValues.Avatar %>">
                                        <img class="lazy entered loaded" data-src="<%= related[i].dataValues.Avatar %>" src="<%= related[i].dataValues.Avatar %>" alt="media" data-ll-status="loaded">
                                    </picture>
                                    <span class="media_label media_label--pricing">
                                        <span class="price h4"><%= related[i].dataValues.Price.toLocaleString() %>đ</span>
                                        / 1 đêm
                                    </span>
                                </div>
                                <div class="main d-md-flex flex-column justify-content-between flex-grow-1">
                                    <a class="main_title h4" href="/phong-nghi/<%= related[i].dataValues.Slug %>/" data-shave="true"><%= related[i].dataValues.Name %></a>
                                    <div class="main_amenities">
                                        <span class="main_amenities-item d-inline-flex align-items-center">
                                            <i class="icon-user icon"></i>
                                            2 Sleeps
                                        </span>
                                        <span class="main_amenities-item d-inline-flex align-items-center">
                                            <i class="icon-bunk_bed icon"></i>
                                            1 bunk bed
                                        </span>
                                    </div>
                                    <a class="link link--arrow d-inline-flex align-items-center" href="/phong-nghi/<%= related[i].dataValues.Slug %>/">
                                        Xem chi tiết
                                        <i class="icon-arrow_right icon"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
    <% } %>
    <!-- rooms section end -->
    <!-- single room content start -->
</main>
<%- include('../layouts/footer.ejs') %>
